@model IEnumerable<AdminLTE1.ViewModels.EditRoleViewModel>
    @{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <table class="table" id="MyDataTable">
        <thead>
            <tr>
                <th>Serial No</th>
                <th>RoleName</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>View</th>

            </tr>
        </thead>
        <tbody>

            @{int count = 1;}
            @foreach (var role in Model)
            {

                <tr>
                    <td>@count</td>
                    <td>@role.RoleName</td>
                    <td><a asp-action="EditPermission" asp-controller="Permission" asp-route-RoleId="@role.RoleId" class="btn btn-primary">Edit</a></td>
                    <td><a asp-action="DeletePermission" asp-controller="Permission" asp-route-RoleId="@role.RoleId" class="btn btn-primary">Delete</a></td>
                    <td><a asp-action="ViewPermission" asp-controller="Permission" asp-route-RoleId="@role.RoleId" class="btn btn-primary">View</a></td>
                </tr>
                count++;
            }
        </tbody>
    </table>

    @section scripts{
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/af-2.3.7/datatables.min.css" />

        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/af-2.3.7/datatables.min.js"></script>

        <script>
            $(document).ready(function () {
                $("#MyDataTable").DataTable();
            }
            )
        </script>
    }


